.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: #cc0099;
}

.active {
  color: orange;
  text-shadow: 1px 1px brown;
}

.active:hover {
  color: yellow;
  text-shadow: 1px 1px orange;
}
