.title {
  background-image: url('./images/header-bg.png');
  color: #fff;
  margin: 0;
  padding: 10px;
  font-family: verdana;
  font-style: italic;
}

.navbar {
  color: white;
  float: right;
  list-style: none;
}

.navItem {
  display: inline;
  margin: 0 10px 0 20px;
  font-size: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  text-shadow:  1px 1px #aaa, 1px -1px #aaa, -1px -1px #aaa, -1px 1px #aaa;
}

.nav-link:hover {
  color: #cc0099;
}

.active {
  color: orange;
  text-shadow: 1px 1px brown, 1px -1px brown, -1px -1px brown, -1px 1px brown;
}

.active:hover {
  color: yellow;
  text-shadow: 1px 1px orange, 1px -1px orange, -1px -1px orange, -1px 1px orange;
}

.about,
.skills,
.contactForm,
.work {
  background-color: #ccc;
  margin: 0;
  padding: 20px;
}

.picture {
  height: 150px;
  width: 150px;
  border-radius: 75px;
}

.cards {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 250px;
  position: relative;
}

.card-title {
  text-align: center;
  margin-top: 0;
  padding: 10px 0;
  display: none;
}

.card-resources {
  text-align: center;
  margin-top: 60px;
  padding: 10px 0;
  display: none;
}

.card-git {
  padding: 10px 0;
  width: 50%;
  position: relative;
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
}

.card-link {
  padding: 10px 0;
  width: 50%;
  position: relative;
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: center;
}

.card-git a,
.card-link a {
  color: #0a2c6b;
  text-decoration: none;
  text-shadow:  1px 1px #888, 1px -1px #888, -1px -1px #888, -1px 1px #888;
}

.card-git a:hover,
.card-link a:hover {
  color: royalblue;
}

.card:hover > .card-title,
.card:hover > .card-resources,
.card:hover > .card-git,
.card:hover > .card-link {
  display: block;
  background-color: rgba(255,255,255,0.5);
}

label {
  font-weight: 600;
}

.form-field {
  display: block;
  margin-bottom: 20px;
  width: 40%;
  min-width: 350px;
  border: 1px solid #888;
  border-radius: 5px;
  padding: 10px;
}

textarea {
  min-height: 200px;
  resize: none;
}

.btn {
  border: none;
  border-radius: 5px;
  background-color: #0a2c6b;
  color: white;
  padding: 10px;
}

.btn:hover {
  background-color: #888;
  color: #0a2c6b;
}

.resume-link {
  color: #0a2c6b;
  text-decoration: none;
  text-shadow:  1px 1px #888, 1px -1px #888, -1px -1px #888, -1px 1px #888;
}

.resume-link:hover {
  color: royalblue;
}

.skillList {
  list-style: none;
}

footer {
  clear: both;
  background-color: #0a2c6b;
  color: #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
}

.footerLink {
  color: #ccc;
  vertical-align: middle;
  padding: 10px;
  margin: 0 10px;
  text-decoration: none;
}

.footerLink:hover {
  color: #fff;
}
